{% extends 'app/base.html' %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block header %}Iniciar Sesión{% endblock %}

{% block content %}
    <h1>Iniciar Sesión</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <p>¿No tienes una cuenta? <a href="{% url 'accounts:register' %}">Regístrate aquí</a></p>
{% endblock %}