{% extends 'app/base.html' %}
{% load static %}

{% block title %}Mensajes Enviados{% endblock %}

{% block header %}Mensajes Enviados{% endblock %}

{% block content %}
    <h1>Mensajes Enviados</h1>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>
                <strong>Para:</strong> {{ message.recipient.username }}<br>
                <strong>Asunto:</strong> {{ message.subject }}<br>
                <strong>Mensaje:</strong> {{ message.body }}<br>
                <strong>Fecha:</strong> {{ message.timestamp }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No has enviado ningún mensaje.</p>
    {% endif %}
{% endblock %}