{% extends 'app/base.html' %}
{% load static %}

{% block title %}Listado de Blogs{% endblock %}

{% block header %}Listado de Blogs{% endblock %}

{% block content %}
    <h1>Listado de Blogs</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'app:blogpost_create' %}" class="btn btn-primary">Crear nuevo post</a>
    {% endif %}
    {% if blogposts %}
        <ul>
        {% for blogpost in blogposts %}
            <li>
                <a href="{% url 'app:blogpost_detail' blogpost.pk %}">{{ blogpost.titulo }}</a>
                - {{ blogpost.fecha_publicacion }}
                <p>{{ blogpost.contenido|truncatewords:30 }}</p>
                <!-- <a href="{% url 'app:blogpost_detail' blogpost.pk %}">Leer más</a> -->
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay páginas aún.</p>
    {% endif %}
{% endblock %}