{% extends 'app/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block header %}Inicio{% endblock %}

{% block content %}
    <div class="home-container">
        <h1>Web Books</h1>
        <div class="home-content">
            <div class="home-text">
                <p>Bienvenido a Web Books, tu plataforma para gestionar y compartir tus libros favoritos. Aquí puedes crear, editar y eliminar publicaciones sobre libros, así como explorar las publicaciones de otros usuarios. ¡Disfruta de la lectura y comparte tus opiniones con la comunidad!</p>
            </div>
        </div>
    </div>
{% endblock %}